@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
body {
  font-family: "Mukta", sans-serif;
  font-weight:400;
  font-style: normal;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: linear-gradient(to bottom right, #f0f4f7, #d9e2ec);  
}


